header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #edede9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;

}
#navbar li a:hover{
    color:#d6ccc2;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 80px;
    background-color: #f5f5f1;
    text-align: center;
}

#contact_social{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_social li{
    list-style: none;
    padding: 10px;
}

#contact_social li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#contact_social li a:hover{
    color: #d6ccc2;
}



#product_list{
    padding-top: 30px;
    text-align: center;
}
#product_list .pro li{
    list-style-type: none;

}
#product_list .pro li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

#product_list .pro li a:hover{
    color:#d6ccc2;
}

#product_list .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
    margin: 0 30px;
}

#product_list .pro{
    width: 15%;
    min-width: 250px;
    padding: 10px 30px;
    border: 1px solid #d6ccc2;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product_list .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product_list .pro img{
    width: 100%;
    border-radius: 20px;
}



#product_detail{
    display: flex;
    margin-top: 30px;
    
}

#product_detail .pro_image{
    width: 25%;
    margin: 50px;
    margin-right: 50px;
    position: relative;
    
    
}
#product_detail .pro_image img{
    display: block;
}


#product_detail .pro_detail{
    width: 50%;
    padding-top: 50px;
    margin-left: 50px;
    position: absolute;
    top: 50;
    left: 30%;
}

#product_detail .pro_detail button{
    background: #aedcf7;
    color: white;
}

#product_detail .pro_detail button a:hover{
    color: white;

}

#product_detail .pro_detail button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}