<header style="background-color: lightgray;">
    <a href="{% url 'home' %}">Yobadminton</a>
    <a href="{% url 'badmintons' %}">สินค้าทั้งหมด</a>
    <a href="{% url 'about' %}">เกี่ยวกับ</a>   
    
    {% if user.is_authenticated %}
    <a href="{% url 'home' %}">{{user.username}}</a>
    <!-- <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">ออกจากระบบ
        </button>     -->
    <a href="{% url 'logout' %}">ออกจากระบบ</a>

    {% else %}
    <a href="{% url 'login' %}">เข้าสู่ระบบ</a>
    <a href="{% url 'register' %}">สมัครสมาชิก</a>
    
    
    {% endif %}

    <!-- serch filter -->
    <form action="{% url 'serch' %}" method="get">
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>

</header>